coveralls
geopy
hartigan-kmeans @ git+https://github.com/igormanojlovic/hartigan-kmeans.git#egg=hartigan-kmeans
joblib
keras
kneed
marshmallow-dataclass
matplotlib
meteostat
npeet @ git+https://github.com/igormanojlovic/npeet.git#egg=npeet
numpy
pandas
parameterized
patool
plotly
requests
scikit-learn
scipy
statsmodels
tensorflow
tslearn
tqdm
wget
workalendar
xgboost
xmltodict
